In [31]:
import pandas as pd
import datetime as dt

In [2]:
df_full = pd.read_csv('cities.csv', index_col=False)

In [12]:
list(df_full.columns)

['Unnamed: 0',
 'base',
 'clouds: all',
 'cod',
 'coord: lat',
 'coord: lon',
 'dt',
 'id',
 'main: grnd_level',
 'main: humidity',
 'main: pressure',
 'main: sea_level',
 'main: temp',
 'main: temp_max',
 'main: temp_min',
 'name',
 'rain: 3h',
 'sys: country',
 'sys: id',
 'sys: message',
 'sys: sunrise',
 'sys: sunset',
 'sys: type',
 'visibility',
 'weather: description',
 'weather: icon',
 'weather: id',
 'weather: main',
 'wind: deg',
 'wind: gust',
 'wind: speed']

In [67]:
df = df_full[['name', 'sys: country', 'coord: lat', 'coord: lon', 'dt', 'clouds: all', 'main: humidity', 'main: temp', 'wind: speed']]
df = df.rename(
    columns = {
        'name': 'City',
        'sys: country': 'Country',
        'coord: lat': 'Latitude',
        'coord: lon': 'Longitude',
        'dt': 'Date',
        'main: temp': 'Temperature(F)',
        'main: humidity': 'Humidity',
        'clouds: all': 'Cloudiness',
        'wind: speed': 'Wind Speed(MPH)',
        }).reset_index().rename(columns={'index': 'Index'})

In [68]:
df.head()

,Index,City,Country,Latitude,Longitude,Date,Cloudiness,Humidity,Temperature(F),Wind Speed(MPH)
0,0,Khatanga,RU,71.98,102.47,1533444220,12,84,56.74,23.89
1,1,Alofi,NU,-19.06,-169.92,1533441600,88,78,71.60,12.75
2,2,Kodiak,US,39.95,-94.76,1533441180,1,69,77.00,9.17
3,3,Mehamn,NO,71.03,27.85,1533444220,92,100,51.52,5.99
4,4,Nuevo Progreso,MX,17.14,-95.05,1533444221,88,88,74.65,2.86

In [69]:
df.to_csv('city_data.csv', index=False)